In [72]:
from sklearn.datasets import load_iris
import pandas as pd
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
iris = load_iris()
print(iris.data.shape)
print(iris.feature_names)
iris.keys()

(150, 4)
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [73]:
data = pd.DataFrame(iris.data)
data.columns = iris.feature_names
data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [74]:
data['target'] = iris.target
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [75]:
X, y = data.iloc[:,:-1], data.iloc[:,-1]

In [76]:
data_dmatrix = xgb.DMatrix(data=X,label=y)

In [77]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [95]:
xg_reg = xgb.XGBClassifier(colsample_bytree = 0.3, learning_rate = 0.2,
                max_depth = 6, n_estimators = 100)

In [107]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)

In [108]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, preds)

0.9333333333333333

In [109]:
from sklearn import preprocessing
X_normalized = preprocessing.normalize(X_train, norm='l2')

In [110]:
xg_reg.fit(X_normalized,y_train)

preds = xg_reg.predict(X_test.to_numpy())

In [111]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, preds)

0.43333333333333335